<h1>Employees</h1>

<form class="form-inline" action="/employees/add" method="post">
  <div class="form-group">
    <label for="name">Add Employee</label>
    <input id="name" type="text" name="name" placeholder="Name" class="form-control">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>

<% @employees.each() do |employee| %>

<li><%= employee.name() %> <a href="/employees/<%= employee.id() %>/edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></a>
<form id="form_id" action="/employees/delete" method="post">
  <input type="hidden" name="employee_id" value="<%= employee.id() %>">
  <input type="hidden" name="_method" value="delete">
  <button type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
</form>
</li>

<% end %>
